In [1]:
import os

# data science imports
import numpy as np
import pandas as pd

# visualization imports
import matplotlib.pyplot as plt
%matplotlib inline

data_path = "./"
data_filename = "BookReviews.csv"
df_ratings = pd.read_csv(data_path+data_filename)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
2023-11-27 10:30:35.399157: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
print(len(df_ratings["user_id"].unique()))
print(len(df_ratings["book_id"].unique()))

8728
7789

In [3]:
books_info = "./goodreads_books_comics_graphic.json"
df_books_info = pd.read_json(books_info, lines=True)

In [4]:
df_books_info[["book_id", "title"]]

        book_id                                              title
0      25742454                              The Switchblade Mamma
1      30128855                                            Cruelle
2      13571772  Captain America: Winter Soldier (The Ultimate ...
3      35452242  Bounty Hunter 4/3: My Life in Combat from Mari...
4        707611                          Superman Archives, Vol. 2
...         ...                                                ...
89406  30848889               Doctor Who: Free Comic Book Day 2016
89407  33553114                                    Love: The Tiger
89408  20653416                  La búsqueda del pájaro del tiempo
89409  28928706                                    Dejah Thoris #1
89410  23363286                                       Dead Endings

[89411 rows x 2 columns]

In [5]:
df_eda1 = df_ratings.groupby(["book_id"], group_keys=False).sum()
df_eda2 = df_ratings.groupby(["book_id"], group_keys=False).count()
df_eda2 = df_eda2.sort_values(by=('rating'), ascending=False)

In [6]:
df_eda2.iloc[5000, :]

user_id    100
rating     100
Name: 22733426, dtype: int64

In [7]:
r_avg = list()
for i in range(len(df_eda1)):
    book_id = df_eda2.index[i]
    r_sum = df_eda1[df_eda1.index==book_id].iloc[0, 0]
    avg = r_sum / df_eda2.rating.iloc[i]
    r_avg.append([book_id, avg])

In [8]:
rating_info = pd.DataFrame(r_avg[:5000], columns=["book_id", "rating_avg"])
# rating_info["title"] = 
rating_info = rating_info.sort_values(by=('rating_avg'), ascending=False)

In [9]:
title = [ df_books_info[df_books_info.book_id==rating_info.book_id.iloc[i]].iloc[0, -2] for i in range(len(rating_info))]
rating_info["title"] = title
rating_info.iloc[:10, :]

       book_id  rating_avg                                              title
649      24812    4.814727                     The Complete Calvin and Hobbes
1803   3375878    4.750000                  The Absolute Sandman, Volume Four
1909  22078240    4.720930                                     Saga: Book One
1041     70487    4.718850  Attack of the Deranged Mutant Killer Monster S...
739   29436571    4.713198                      March: Book Three (March, #3)
564      24813    4.706402       The Calvin and Hobbes Tenth Anniversary Book
1693   9691883    4.695279                                          鋼の錬金術師 27
832      24814    4.690608  It's a Magical World: A Calvin and Hobbes Coll...
1049     24815    4.689103                The Indispensable Calvin and Hobbes
861      24816    4.687324  Homicidal Psycho Jungle Cat: A Calvin and Hobb...